/* App.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 800px;
  height: 20%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.span {
  color: #007bff;
}

.search-bar {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.display-img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.image-container {
  border: 1px solid #ccc;
  padding: 10px;
  height: auto;
  text-align: left;
}

.img {
  max-width: 100%;
  height: auto;
}

.image-details {
  padding: 10px;
}

.image-details h2 {
  font-size: 18px;
  margin: 0;
}

.image-details p {
  font-size: 14px;
  margin: 5px 0;
}

/* Dark mode */
body.dark-mode {
  background-color: black;
  color: white;
}


@media (max-width:1000px) {
    .display-img{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
      width: 100%;
    }
    .img{
        width: 100%;
    }
    p{
      text-align: center;
      width: 100%;
      margin: auto;
      font-size: 3rem;
    }
    input{
      width: 70%;
    }
   
}


